<div class="overlay" [hidden]="!(state$ | async)" (click)="close()"></div>

<div [class.hide]="!(state$ | async)" class="content">
  <ng-container [ngSwitch]="mode$ | async">
    <ng-container *ngSwitchCase="EMode.Game">
      <div class="buttons">
        <div class="button" (mouseenter)="gameService.mouseenterButton()" (click)="close()">
          {{ 'Game.GameDialog.ButtonNames.Continue' | translate }}
        </div>

        <div class="button" (mouseenter)="gameService.mouseenterButton()" (click)="mode$.next(EMode.Save)">
          {{ 'Game.GameDialog.ButtonNames.Save' | translate }}
        </div>

        <div
          class="button"
          (mouseenter)="gameService.mouseenterButton()"
          routerLink="/"
          (click)="soundsService.dragonStompy.restart()"
        >
          {{ 'Game.GameDialog.ButtonNames.Exit' | translate }}
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="EMode.GameOver">
      <h1>{{ 'Game.GameDialog.GameOverText' | translate }}</h1>

      <div class="buttons">
        <div class="button" (mouseenter)="gameService.mouseenterButton()" (click)="restartGame()">
          {{ 'Game.GameDialog.ButtonNames.Restart' | translate }}
        </div>

        <div
          class="button"
          (mouseenter)="gameService.mouseenterButton()"
          routerLink="/"
          (click)="soundsService.dragonStompy.restart()"
        >
          {{ 'Game.GameDialog.ButtonNames.Exit' | translate }}
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="EMode.Save">
      <h1>{{ 'Game.GameDialog.SaveText' | translate }}:</h1>

      <input type="text" [(ngModel)]="saveGameName" maxlength="20" />

      <div class="buttons horizontal">
        <div class="button" (mouseenter)="gameService.mouseenterButton()" (click)="save()">
          {{ 'Game.GameDialog.ButtonNames.Ok' | translate }}
        </div>

        <div class="button" (mouseenter)="gameService.mouseenterButton()" (click)="mode$.next(EMode.Game)">
          {{ 'Game.GameDialog.ButtonNames.Cancel' | translate }}
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
