@import 'variables';
@import 'mixins';

:host {
  @include rest-host($bgImgUrl: '/assets/img/bg/night-dragon.webp');

  .main-title {
    @include main-title();
    margin-bottom: 35px;
  }

  .houses {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;

    .house {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.2s linear;
      filter: sepia(100%);

      &:active {
        img {
          top: 3px;
        }
      }

      &:hover,
      &.selected {
        filter: none;

        img {
          box-shadow: 0 0 10px 8px #630909;
        }
      }

      .house-title {
        @include ice-and-fire-font();
        margin-bottom: 20px;
      }

      img {
        transition: all 0.2s linear;
        margin-bottom: 25px;
        width: 250px;
        border: 4px double #fff;
        box-shadow: 0 0 5px 2px #ffffff80;
        position: relative;
      }

      .motto {
        width: 160px;
        text-align: center;
        letter-spacing: 5px;
        font-size: 23px;
        text-shadow: 2px 3px 0px #000, 2px 3px 0px #000;
      }
    }
  }

  .player-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;

    span {
      @include ice-and-fire-font();
      margin-top: 8px;
      margin-right: 10px;
    }

    input {
      border: none;
      align-self: stretch;
      box-shadow: 0 0 5px 5px #ffffff80;
      padding: 4px 15px;
      font-family: serif;
      width: 250px;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 30px;
      background-color: #ffffff80;
      text-shadow: 1px 1px 0px #fff;
      align-self: center;
      margin-right: 35px;

      &::selection {
        background: #a70d12;
      }
    }

    .play-button {
      width: 70px;
      transition: all 0.2s linear;
      position: relative;
      filter: sepia(1);
      pointer-events: none;

      &.allow {
        filter: unset;
        pointer-events: unset;

        &:active {
          top: 3px;
        }

        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }
}
