<back-arrow></back-arrow>

<div class="main-title">{{ 'HeroSelectionPage.Title' | translate }}</div>

<div class="houses">
  <div class="house" [class.selected]="selectedHouse === EHouse.Stark" (click)="selectHouse(EHouse.Stark)">
    <div class="house-title">{{ 'HeroSelectionPage.Houses.Stark.HouseName' | translate }}</div>

    <img src="/assets/img/bg/stark-logo.webp" />

    <div class="motto">{{ 'HeroSelectionPage.Houses.Stark.Motto' | translate }}</div>
  </div>

  <div class="house" [class.selected]="selectedHouse === EHouse.Targaryen" (click)="selectHouse(EHouse.Targaryen)">
    <div class="house-title">{{ 'HeroSelectionPage.Houses.Targaryen.HouseName' | translate }}</div>

    <img src="/assets/img/bg/targaryen-logo.webp" />

    <div class="motto">{{ 'HeroSelectionPage.Houses.Targaryen.Motto' | translate }}</div>
  </div>

  <div class="house" [class.selected]="selectedHouse === EHouse.Lannister" (click)="selectHouse(EHouse.Lannister)">
    <div class="house-title">{{ 'HeroSelectionPage.Houses.Lannister.HouseName' | translate }}</div>

    <img src="/assets/img/bg/lannister-logo.webp" />

    <div class="motto">{{ 'HeroSelectionPage.Houses.Lannister.Motto' | translate }}</div>
  </div>
</div>

<div class="player-info">
  <span>{{ 'HeroSelectionPage.PlayerInfo' | translate }}:</span>

  <input type="text" [formControl]="playerNameControl" maxlength="15" />

  <img
    class="play-button"
    src="/assets/pages/hero-selection-page/img/play.webp"
    [class.allow]="isAllowPlayGame()"
    (click)="startGame()"
  />
</div>
