<div class="state">
  <div class="lives">
    <span>{{ lives }}</span>
    <img src="/assets/pages/game-page/info-state-panel/img/life.png" />
  </div>

  <div class="shield hero-power" [class.activated]="isShieldAvailable">
    <img src="/assets/pages/game-page/info-state-panel/img/shield.png" />
  </div>

  <div class="super-attack hero-power" [class.activated]="isSuperAttackActivated">
    <img src="/assets/pages/game-page/info-state-panel/img/attack.png" />
  </div>

  <div class="superpower hero-power" [class.activated]="isSuperpowerAvailable">
    <img src="/assets/pages/game-page/info-state-panel/img/superpower.png" />
  </div>

  <div class="attack-speed hero-power" [class.activated]="isAttackSpeedActivated">
    <img src="/assets/pages/game-page/info-state-panel/img/speed.png" />
  </div>
</div>

<div class="info">
  {{ heroName }}
</div>

<div class="state">
  <div class="magic">
    <div class="hero-power" [class.activated]="isRedPotionAvailable">
      <img src="/assets/pages/game-page/info-state-panel/img/red-potion.png" />
    </div>

    <div class="hero-power" [class.activated]="isGreenPotionAvailable">
      <img src="/assets/pages/game-page/info-state-panel/img/green-potion.png" />
    </div>

    <div class="hero-power" [class.activated]="isBluePotionAvailable">
      <img src="/assets/pages/game-page/info-state-panel/img/blue-potion.png" />
    </div>
  </div>

  <div class="score">
    <span>{{ score }}</span>
    <img src="/assets/pages/game-page/info-state-panel/img/coins.png" />
  </div>
</div>
