<div class="state">
  <div class="lives">
    <span>{{ lives }}</span>
    <img src="/assets/pages/game-page/info-state-panel/img/life.png" />
  </div>

  <div class="shield hero-power" [class.activated]="isShieldActivated">
    <img src="/assets/pages/game-page/info-state-panel/img/shield.png" />
  </div>

  <div class="attack hero-power" [class.activated]="isAttackActivated">
    <img src="/assets/pages/game-page/info-state-panel/img/attack.png" />
  </div>

  <div class="superpower hero-power" [class.activated]="isSuperpowerActivated">
    <img src="/assets/pages/game-page/info-state-panel/img/superpower.png" />
  </div>

  <div class="teleport hero-power" [class.activated]="isTeleportActivated">
    <img src="/assets/pages/game-page/info-state-panel/img/teleport.png" />
  </div>
</div>

<div class="info">
  {{ heroName }}
</div>

<div class="state">
  <div class="magic">
    <div class="hero-power" [class.activated]="isRedPotionActivated">
      <img src="/assets/pages/game-page/info-state-panel/img/red-potion.png" />
    </div>

    <div class="hero-power" [class.activated]="isGreenPotionActivated">
      <img src="/assets/pages/game-page/info-state-panel/img/green-potion.png" />
    </div>

    <div class="hero-power" [class.activated]="isBluePotionActivated">
      <img src="/assets/pages/game-page/info-state-panel/img/blue-potion.png" />
    </div>
  </div>

  <div class="score">
    <span>{{ score }}</span>
    <img src="/assets/pages/game-page/info-state-panel/img/coins.png" />
  </div>
</div>
