<div class="state">
  <div class="lives">
    <span>{{ lives }}</span>
    <img src="/assets/img/game-artifacts/life.png" />
  </div>

  <div class="shield hero-power" [class.activated]="isShieldAvailable">
    <img src="/assets/img/game-artifacts/shield.png" />
  </div>

  <div class="super-attack hero-power" [class.activated]="isSuperAttackActivated">
    <img src="/assets/img/game-artifacts/super-attack.png" />
  </div>

  <div class="super-punch hero-power" [class.activated]="isSuperPunchAvailable">
    <img src="/assets/img/game-artifacts/super-punch.png" />
  </div>

  <div class="attack-speed hero-power" [class.activated]="isAttackSpeedActivated">
    <img src="/assets/img/game-artifacts/attack-speed.png" />
  </div>
</div>

<div class="info">
  {{ heroName }}
</div>

<div class="state justify-content-flex-end">
  <div class="score">
    <span>{{ score }}</span>
    <img src="/assets/img/game-artifacts/coins.png" />
  </div>
</div>
