<div class="content" *ngIf="isPlayerExists(); else note">
  <div class="info-panel">
    <div class="hero-state">
      <div class="lives">
        <img *ngFor="let item of getLivesAsArray()" src="assets/img/game/life.png" />
      </div>

      <div class="shield">
        <img src="assets/img/game/shield.png" />
      </div>
    </div>

    <div class="score">
      <h1>{{ player.score }}</h1>
    </div>
  </div>

  <div class="game-field">
    <div
      class="player"
      [style.top.px]="player.position.top"
      [style.left.px]="player.position.left"
      [style.width.px]="player.widthHeroInPx"
      [style.transform]="player.direction"
    >
      <img src="assets/img/game/players/{{ player.house }}.gif" />
    </div>
  </div>

  <game-dialog [state$]="stateGameDialog$"></game-dialog>
</div>

<ng-template #note>
  <img
    class="back-arrow"
    src="assets/img/arrow.png"
    routerLink="/hero-selection"
    (click)="soundsService.dragonStompy.restart()"
  />

  <div class="note">
    {{ 'Game.NotePlayerNotExists' | translate }}
  </div>
</ng-template>
