<div class="content" *ngIf="isPlayerExists(); else note">
  <div class="info-panel">
    <div class="hero-state">
      <div class="lives">
        <img *ngFor="let item of getLivesAsArray()" src="assets/img/game/life.png" />
      </div>

      <div class="shield" [class.active]="gameService.player.isActivatedShield || gameService.player.isBlockedShield">
        <img src="assets/img/game/shield.png" />
      </div>
    </div>

    <div class="score">
      <h1>{{ gameService.player.score }}</h1>
    </div>
  </div>

  <div class="game-field">
    <ng-template #gameField></ng-template>

    <div
      class="player"
      [style.top.px]="gameService.player.positionInPx.top"
      [style.left.px]="gameService.player.positionInPx.left"
      [style.width.px]="gameService.player.widthHeroInPx"
      [style.transform]="gameService.player.direction"
      [class.shield]="gameService.player.isActivatedShield"
    >
      <img class="shield" src="assets/img/game/sphere-shield.png" />
      <img class="hero" src="assets/img/game/players/{{ gameService.player.house }}.gif" />
    </div>
  </div>

  <game-dialog [state$]="stateGameDialog$" [mode$]="gameMode$"></game-dialog>
</div>

<!-- Templates -->
<ng-template #note>
  <back-arrow navigationUrl="/hero-selection"></back-arrow>

  <div class="note">
    {{ 'Game.NotePlayerNotExists' | translate }}
  </div>
</ng-template>

<ng-template
  #attack
  let-name="name"
  let-top="top"
  let-left="left"
  let-width="width"
  let-animationDirection="animationDirection"
>
  <div
    class="attack"
    [style.top.px]="top"
    [style.left.px]="left"
    [style.width.px]="width"
    [style.transform]="animationDirection"
  >
    <img src="assets/img/game/attacks/{{ name }}" />
  </div>
</ng-template>
