@import 'mixins';

:host {
  @include absolute();
  overflow: hidden;

  @for $i from 1 through 3 {
    @keyframes snow-animation-#{$i} {
      from {
        transform: translate(0, 0);
      }

      to {
        transform: translate($i * 300px, $i * 600px);
      }
    }

    .snow-#{$i} {
      @include absolute(-2400px, 0, 0, -2400px);
      background-image: url(/assets/components/snow-background/img/snow-#{$i}.png);
      animation: snow-animation-#{$i} 30s linear infinite;
    }
  }
}
