@import 'variables';
@import 'mixins';

:host {
  @include rest-host($bgImgUrl: '/assets/img/bg/night-king.webp');

  .main-title {
    @include main-title();
  }

  table.top-table {
    position: relative;
    overflow-y: auto;
    display: block;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: center;
    border: 1px ridge #fff;
    box-shadow: 0 0 5px 2px #ffffff80;
    max-height: 500px;
    background-image: url(/assets/img/bg/rock.webp);
    background-size: cover;

    tr {
      &:nth-child(odd) {
        background-color: #ffffff40;
      }

      th {
        border-bottom: 1px ridge #fff;
        padding: 8px;
        font-weight: normal;
        color: #fff;
        text-shadow: 2px 3px 0px #000, 2px 3px 0px #000;
        font-size: 14px;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #250c0c;
        background-image: -webkit-linear-gradient(90deg, transparent, #000000b3 50%, transparent, transparent);
        width: 1%;
        background-image: url(/assets/img/bg/gold.webp);
        background-size: cover;
        letter-spacing: 5px;

        &:first-child {
          font-family: serif;
          font-size: 16px;
        }

        &:not(:last-child) {
          border-right: 1px ridge #fff;
        }

        .title {
          position: relative;

          img.sort {
            width: 18px;
            opacity: 0.5;
            position: absolute;
            right: 5px;

            &.none {
              opacity: 0.5;
            }

            &.desc {
              opacity: 1;
              transform: rotate(0);
            }

            &.asc {
              opacity: 1;
              transform: rotate(180deg);
            }
          }
        }
      }

      td {
        padding: 7px 15px;
        font-weight: normal;
        letter-spacing: 3px;
        text-shadow: 2px 2px 0px #000, 2px 3px 0px #000;

        &:not(:last-child) {
          border-right: 1px ridge #9e9e9e;
        }

        &:nth-child(3) {
          font-weight: bold;
          font-size: 16px;
          color: $fire;
        }
      }
    }
  }
}
