<h1 class="title">{{ 'MenuPage.Title' | translate }}</h1>

<div class="menu-wrap">
  <logo [text]="'MenuPage.Menu.Logo.Text' | translate"></logo>

  <nav class="menu">
    <div
      class="button"
      (mouseenter)="soundsService.blade.restart()"
      routerLink="/hero-selection"
      (click)="soundsService.dragonStompy.restart()"
    >
      {{ 'MenuPage.Menu.Button.Play' | translate }}
    </div>

    <div
      class="button"
      (mouseenter)="soundsService.blade.restart()"
      routerLink="/load"
      (click)="soundsService.dragonStompy.restart()"
    >
      {{ 'MenuPage.Menu.Button.Load' | translate }}
    </div>

    <div
      class="button"
      (mouseenter)="soundsService.blade.restart()"
      routerLink="/top-table"
      (click)="soundsService.dragonStompy.restart()"
    >
      {{ 'MenuPage.Menu.Button.Top' | translate }}
    </div>

    <div class="button" (mouseenter)="soundsService.blade.restart()" (click)="openToggleLanguageDialog()">
      {{ 'MenuPage.Menu.Button.Language' | translate }}
    </div>
  </nav>
</div>

<footer-panel></footer-panel>

<toggle-language-dialog [state$]="stateToggleLanguageDialog$"></toggle-language-dialog>
