@import 'mixins';

:host {
  @include host($isFullScreen: true);
  background-image: url(/assets/img/bg/ice-dragon.webp);
  background-repeat: no-repeat;
  background-size: cover;

  .title {
    position: absolute;
    top: 35px;
    right: 50px;
    font-size: 58px;
    text-shadow: -2px -3px 0px #000, -2px -3px 3px #fff, -2px -3px 3px #fff, -2px -3px 3px #fff;
    background-image: url(/assets/img/bg/ice-and-fire.webp);
    background-size: cover;
    color: transparent;
    background-clip: text;
    letter-spacing: 10px;
    background-position: 0;
  }

  .menu-wrap {
    position: absolute;
    width: 300px;
    left: 90px;
    top: 70px;

    logo {
      margin-bottom: 20px;
    }

    .menu {
      .button {
        @include glass-button-background;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 18px;
        font-size: 23px;
        letter-spacing: 5px;
        text-shadow: 2px 3px 0px #000, 2px 3px 0px #000;
        transition: background-color 0.1s linear, transform 0.1s linear;
        overflow: hidden;

        &:hover,
        &:active,
        &:focus {
          background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
          transform: scale(1.1);
          transition: background-position 0.8s linear, transform 0.1s linear;
          background-color: rgba(255, 17, 0, 0.2);
        }

        &:active {
          top: 3px;
        }

        &:not(:last-child) {
          margin-bottom: 30px;
        }

        &:first-child {
          clip-path: polygon(30px 0, 0 15px, 0% 100%, 100% 100%, 100% 15px, calc(100% - 30px) 0);
        }

        &:last-child {
          clip-path: polygon(
            0 0,
            0 calc(100% - 15px),
            30px 100%,
            calc(100% - 30px) 100%,
            100% calc(100% - 15px),
            100% 0
          );
        }
      }
    }
  }

  footer-panel {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
