:host {
  display   : block;
  min-width : 1300px;
  height    : 700px;
  position  : relative;
  border    : 10px double white;
  transition: height 2s linear;

  .logo {
    background: {
      image : url(../assets/img/bg/logo.png);
      repeat: no-repeat;
      size  : cover;
    }

    height         : 139px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 228px;
    align-self     : center;
    position       : absolute;
    z-index        : 1;
    top            : -1000px;
    left           : calc(50% - 114px);
    transition     : top .4s linear;

    &.display {
      top: -44px;
    }

    h1 {
      font-size: 30px;
      text-shadow:
        -1px -2px 0px #000000,
        -1px -2px 3px #ffffff,
        -1px -2px 3px #ffffff,
        -1px -2px 3px #ffffff;
      background-image   : url(../assets/img/bg/fire-sphere.gif);
      background-size    : cover;
      color              : transparent;
      background-clip    : text;
      letter-spacing     : 1px;
      background-position: 0;
      padding-left       : 18px;
      padding-right      : 16px;
      white-space        : nowrap;
      text-overflow      : ellipsis;
      overflow-x         : hidden;
      font-family        : serif;
    }
  }

  .wrap-animation {
    height  : inherit;
    position: relative;
    overflow: hidden;
  }
}
