@import 'mixins';

:host {
  $transition: 0.2s linear;

  @include host(flex, true);
  justify-content: center;
  align-items: center;
  transition: z-index $transition;
  z-index: -1;

  &.show {
    z-index: 0;
  }

  .overlay {
    @include absolute();
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity $transition;
    opacity: 0;

    &.show {
      opacity: 1;
    }
  }

  .content {
    position: relative;
    width: 500px;
    height: 280px;
    display: flex;
    flex-direction: column;
    padding: 35px 20px 55px;
    box-sizing: border-box;
    border: 4px double white;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
    background-image: url(/assets/img/bg/rock.jpg);
    background-size: cover;
    transition: transform $transition;
    transform: scale(0);

    &.show {
      transform: scale(1);
    }

    h1 {
      text-shadow: 2px 3px 0px #000000, 2px 3px 0px #000000;
      font-size: 18px;
      letter-spacing: 5px;
      text-align: center;
      line-height: 36px;
    }

    .active-panel {
      flex-grow: 1;
      display: flex;
      align-items: flex-end;
      justify-content: space-around;

      .button {
        @include glass-button-background;
        position: relative;
        width: 200px;
        text-align: center;
        padding: 22px 0 20px 0;
        transition: all 0.1s linear;

        &:active {
          top: 3px;
        }

        &.selected {
          background-color: rgba(255, 17, 0, 0.2);
        }

        h2 {
          font-size: 21px;
          text-shadow: 2px 3px 0px #000000, 2px 3px 0px #000000;
          letter-spacing: 5px;
        }
      }
    }
  }
}
