@import "../../../scss/variables";
@import "../../../scss/mixins";

:host {
  @include rest-host($bgImgUrl: '../../../assets/img/bg/throne.jpg');

  .main-title {
    @include main-title($bgImgUrl: '../../../assets/img/game/attacks/fire-sphere.gif');
  }

  .houses {
    display        : flex;
    align-items    : center;
    justify-content: space-around;
    margin-bottom  : 20px;

    .house {
      display       : flex;
      flex-direction: column;
      align-items   : center;
      transition    : all 0.2s linear;
      filter        : sepia(100%);

      &:active {
        img {
          top: 3px;
        }
      }

      &:hover,
      &.selected {
        filter: none;

        img {
          box-shadow: 0 0 10px 8px #630909;
        }
      }

      .house-title {
        font-size          : 21px;
        text-shadow        : -2px -3px 0px #000000, -2px -3px 3px #ffffff, -2px -3px 3px #ffffff, -2px -3px 3px #ffffff;
        background-image   : url(../../../assets/img/game/attacks/fire-sphere.gif);
        background-size    : cover;
        color              : transparent;
        background-clip    : text;
        letter-spacing     : 5px;
        background-position: 0;
        font-weight        : bold;
        margin-bottom      : 15px;
      }

      img {
        transition   : all 0.2s linear;
        margin-bottom: 25px;
        width        : 250px;
        border       : 4px double white;
        box-shadow   : 0 0 5px 2px rgba(255, 255, 255, 0.5);
        position     : relative;
      }

      .motto {
        width         : 160px;
        text-align    : center;
        letter-spacing: 5px;
        font-size     : 23px;
        text-shadow   : 2px 3px 0px #000000, 2px 3px 0px #000000;
      }
    }
  }

  .player-info-wrap {
    display        : flex;
    align-items    : center;
    justify-content: center;

    .player-info {
      display         : flex;
      align-items     : center;
      justify-content : center;
      background-image: url(../../../assets/img/bg/rock.jpg);
      background-size : cover;
      padding         : 25px 35px;
      width           : fit-content;
      margin-right    : 40px;
      border          : 4px double white;
      box-shadow      : 0 0 5px 2px rgba(255, 255, 255, 0.5);

      &>:not(:last-child) {
        margin-right: 30px;
      }

      span {
        margin-top         : 8px;
        font-size          : 21px;
        text-shadow        : -2px -3px 0px #000000, -2px -3px 3px #ffffff, -2px -3px 3px #ffffff, -2px -3px 3px #ffffff;
        background-image   : url(../../../assets/img/game/attacks/fire-sphere.gif);
        background-size    : cover;
        color              : transparent;
        background-clip    : text;
        letter-spacing     : 5px;
        background-position: 0;
        font-weight        : bold;
      }

      input {
        border          : none;
        align-self      : stretch;
        box-shadow      : 0 0 5px 5px rgba(255, 255, 255, 0.5);
        padding         : 4px 15px;
        font-family     : serif;
        width           : 250px;
        font-weight     : bold;
        letter-spacing  : 2px;
        font-size       : 30px;
        background-color: rgba(255, 255, 255, 0.5);
        text-shadow     : 1px 1px 0px #ffffff;

        &::selection {
          background: #a70d12;
        }
      }
    }

    .play-button {
      width         : 140px;
      transition    : all 0.2s linear;
      position      : relative;
      filter        : sepia(1);
      pointer-events: none;

      &.allow {
        filter        : unset;
        pointer-events: unset;

        &:active {
          top: 3px
        }
      }
    }
  }
}
