@import 'mixins';

:host {
  @include host(flex, true);
  flex-direction: column;

  .game-field {
    flex-grow: 1;
    position: relative;

    .monster {
      position: absolute;
    }
  }

  game-dialog {
    z-index: 2;
  }
}
