<game-background [name]="hero.level.gameBackgroundName"></game-background>

<info-state-panel
  [lives]="hero.lives"
  [isShieldAvailable]="hero.isShieldAvailable"
  [isAttackAvailable]="false"
  [isSuperpowerAvailable]="false"
  [isSpeedAvailable]="hero.isSpeedAvailable"
  [heroName]="hero.name"
  [isRedPotionAvailable]="false"
  [isGreenPotionAvailable]="false"
  [isBluePotionAvailable]="false"
  [score]="0"
></info-state-panel>

<div class="game-field">
  <ng-template #gameFieldTemplate></ng-template>
</div>

<!-- <game-dialog [state$]="stateGameDialog$" [mode$]="gameDialogMode$"></game-dialog> -->

<!-- #region Templates
<ng-template
  <ng-template
  #monsterTemplate
  let-name="name"
  let-x="positionInPx.left"
  let-y="positionInPx.top"
  let-width="sizeInPx.width"
>
  <img
    class="monster"
    [style.width.px]="width"
    [style.transform]="getObjectPosition(x, y)"
    src="/assets/img/game/monsters/{{ name }}.gif"
  />
</ng-template>
#endregion Templates -->
