@import 'mixins';

:host {
  @include host(flex, true);
  flex-direction: column;

  .game-field {
    flex-grow: 1;
    position: relative;

    .attack {
      position: absolute;
      z-index: 1;

      img {
        width: 100%;
        animation: rotate-pulsar-to-right 0.5s linear infinite;
        border-radius: 50%;
      }
    }

    .monster {
      position: absolute;
    }
  }

  game-dialog {
    z-index: 2;
  }
}
