@mixin host($display: block, $isFullScreen: false) {
  position: relative;
  display: $display;
  @if $isFullScreen {
    width: 100%;
    height: 100%;
  }
}

@mixin rest-host($bgImgUrl) {
  display: block;
  position: relative;
  height: inherit;
  overflow: hidden;
  padding: 40px 100px;
  box-sizing: border-box;
  background-image: url($bgImgUrl);
  background-size: cover;
}

@mixin absolute($top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin main-title() {
  font-size: 30px;
  text-shadow: -2px -3px 0px #000, -2px -3px 3px #fff, -2px -3px 3px #fff, -2px -3px 3px #fff;
  background-image: url(/assets/img/bg/ice-and-fire.webp);
  background-size: cover;
  color: transparent;
  background-clip: text;
  letter-spacing: 12px;
  background-position: 0;
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
}

@mixin glass-button-background {
  background-color: #fcfcfc33;
  background-image: linear-gradient(45deg, #ffffff00 30%, #fffffff2, #ffffff00 70%),
    linear-gradient(to right, #ffffffbd, #ffffff00 20%, #ffffff00 70%, #ffffff6e),
    linear-gradient(to right, #0c0c0cc7, #cacaca 45%, #7d7d7d80),
    linear-gradient(to right, #7d7d7d, #a9a9a9ba 45%, #00000096), linear-gradient(to right, #000, #fff 45%, #000),
    linear-gradient(to right, #000, #fff 45%, #040404e0);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}

@mixin note() {
  position: absolute;
  top: 40%;
  left: calc(50% - 250px);
  width: 500px;
  padding: 35px;
  box-sizing: border-box;
  border: 1px ridge #fff;
  box-shadow: 0 0 5px 2px #ffffff80;
  background-image: url(/assets/img/bg/rock.jpg);
  background-size: cover;
  font-size: 18px;
  letter-spacing: 7px;
  text-align: center;
  line-height: 36px;
  text-shadow: 2px 3px 0px #000, 2px 3px 0px #000;
  font-weight: bold;
}
