@import 'mixins';
@import './fonts';
@import './rotate-animation';
@import './pulsar-animation';
@import './rotate-pulsar-animation';

* {
  margin: 0;
  padding: 0;
  outline: none;

  @import './scrollbar';
}

html {
  width: 100vw;
  height: 100vh;
  font-family: 'Game of Thrones';
  user-select: none;
  color: #fff;
  background-color: #000;
  cursor: url(/assets/img/cursor.png), auto;
}

body {
  @include host($isFullScreen: true);

  [hidden] {
    display: none !important;
  }

  @import './spinner';
}
