@import 'mixins';
@import './fonts';
@import './game-bg-animation';
@import './rotate-animation';
@import './rotate-pulsar-animation';

* {
  margin: 0;
  padding: 0;
  outline: none;

  @import './scrollbar';
}

html {
  width: 100vw;
  height: 100vh;
  font-family: 'Game of Thrones';
  user-select: none;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  cursor: url(../assets/img/cursor.png), auto;
}

body {
  @include host($isFullScreen: true);

  [hidden] {
    display: none !important;
  }

  @import './spinner';
}
