<back-arrow></back-arrow>

<div class="main-title">{{ 'LoadPage.Title' | translate }}</div>

<div class="content" *ngIf="saveGameData.length; else emptyMessageTemplate">
  <div class="save-game" *ngFor="let sg of saveGameData; let i = index; trackBy: trackBySessionId">
    <div class="title" [title]="sg.name">{{ sg.name }}</div>

    <div class="date">{{ sg.date | date: 'HH:mm dd.MM.yyyy' }}</div>

    <img src="/assets/img/bg/{{ sg.player.house }}-logo.jpg" />

    <div class="button delete" (click)="deleteSaveGame(i)" (mouseenter)="soundsService.blade.restart()">
      {{ 'LoadPage.ButtonNames.Delete' | translate }}
    </div>

    <div class="button" (click)="gameService.loadGame(sg)" (mouseenter)="soundsService.blade.restart()">
      {{ 'LoadPage.ButtonNames.Load' | translate }}
    </div>
  </div>
</div>

<!--#region Templates-->
<ng-template #emptyMessageTemplate>
  <empty-message [text]="'LoadPage.EmptyDataMessage' | translate"></empty-message>
</ng-template>
<!--#endregion Templates-->
