<div class="wrap" [style.backgroundImage]="'url(assets/img/bg/' + bgImageName + ')'">
  <video autoplay loop class="moving-map">
    <source src="assets/video/background.mp4" type="video/mp4" />
  </video>

  <div class="content">
    <div class="title">
      <h1 class="text">{{ 'Title' | translate }}</h1>
    </div>

    <div class="menu-wrap">
      <div class="fire-sphere" (mouseenter)="mouseenterFireSphere()"></div>

      <div class="logo">
        <h1>{{ 'MainMenu.Title' | translate }}</h1>
      </div>

      <div class="buttons">
        <div
          class="button"
          (mouseenter)="mouseenterButtonMenu()"
          routerLink="hero-selection"
          (click)="soundsService.dragonStompy.restart()"
        >
          {{ 'MainMenu.Buttons.Play' | translate }}
        </div>

        <div class="button" (mouseenter)="mouseenterButtonMenu()">
          {{ 'MainMenu.Buttons.Load' | translate }}
        </div>

        <div
          class="button"
          (mouseenter)="mouseenterButtonMenu()"
          routerLink="top-table"
          (click)="soundsService.dragonStompy.restart()"
        >
          {{ 'MainMenu.Buttons.Top' | translate }}
        </div>

        <div class="button" (mouseenter)="mouseenterButtonMenu()" (click)="openToggleLanguageDialog()">
          {{ 'MainMenu.Buttons.Language' | translate }}
        </div>
      </div>
    </div>

    <div class="active-panel">
      <div
        class="volume"
        (click)="soundsService.toggleBgSound()"
        [class.disabled]="!soundsService.togglerBgSound"
      ></div>

      <a class="github-link" href="https://github.com/KomlevDm/game-of-thrones" target="_blank">
        <img src="assets/img/github.png" alt="github" />
      </a>
    </div>

    <toggle-language-dialog [state$]="stateToggleLanguageDialog$"></toggle-language-dialog>
  </div>
</div>
